:root {
  /* --primary: #0d6efd; */
  --primary: #0000ff;
  --primary-cyan: #0dcaf0;
  --primary-white: #ffffff;
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

/* Base reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

/* box-sizing and font sizing */
/* *,
*::before,
*::after {
  box-sizing: inherit;
} */

html {
  box-sizing: border-box;
}

#header {
  display: flex;
  width: 100%;
  background: linear-gradient(#e66465, #9198e5);
  /* justify-content: space-around; */
  /* align-items: center; */
}

.logo {
  display: flex;
  position: fixed;
  width: 100vw;
  padding-left: 185px;
  /* margin: 20px auto; */
}

img {
  width: 90px;
  height: 80px;
}

#header-img {
  margin: 10px 0;
}

.nav {
  display: flex;
  position: fixed;
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  padding-right: 175px;
  box-shadow: 0 2px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 0 rgba(0, #e66465, #9198e5, 0.4);
  z-index: 10;
}

#nav-bar {
  margin-top: 20px;
}

nav ul {
  display: flex;
  width: 90vw;
  flex-direction: row;
  justify-content: flex-end;
}

li {
  list-style: none;
}

button {
  width: 6vw;
  height: 45px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: var(--primary-white);
  background-color: var(--main-red);
  /* background-color: var(--primary); */
}

button:hover {
  color: var(--primary-white);
  background-color: var(--primary);
  border: 1px solid var(--primary-white);
}

/* Welcome section */

#welcome-section {
  display: flex;
  /* height: 100vh; */
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  margin-bottom: -100px;
  color: var(--main-red);
  background-color: #000;
  /* background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%); */
  background-image: linear-gradient(#9198e5, #e66465);
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--primary-white);
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

/* Projects section */

.projects-section {
  text-align: center;
  padding: 3rem 2rem;
  background: var(--main-blue);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
  font-size: 2.5rem;
  color: var(--primary-white);
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  color: var( --primary-white);
}

/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
}

.contact-section-header > h2 {
  font-size: 6rem;
  color: var(--main-white);
}

.contact-section-header > p {
  color: var(--main-white);
}

.contact-links a, .contact-links a i {
  color: var(--main-white);
}

.contact-links a:hover, .contact-links a i:hover {
  color: var(--main-red);
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
}

footer > p {
  margin: 2rem;
  color: var(--main-white);
}

footer i {
  vertical-align: middle;
  color: var(--main-white);
}
